@page "/"

@* Page title; appear in browser tab *@
<PageTitle>Invoices</PageTitle>

<h1>Invoices</h1>

<AuthorizeView>
	<Authorized>
		<InvoicesComponent />
	</Authorized>
	<NotAuthorized>
		Please Login to see your invoices.
	</NotAuthorized>
</AuthorizeView>

@code {
}